/* https://web-motion-catalog.com/samples/movingundeline */
.moving-underline {
  text-decoration: none;
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --line-width: 1px;

  display: inline-flex;
  position: relative;
  z-index: 0;
  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0.3em;
    left: 0;
    width: 100%;
    height: var(--line-width);
    z-index: -1;
    background-image: linear-gradient(
      90deg,
      currentColor 0%,
      currentColor 50%,
      transparent 50%,
      transparent 100%
    );
    background-size: 200% var(--line-width);
    background-position: 0 0;
    transition: opacity 0.5s var(--ease-out-quart);
  }

  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 0;
    animation-name: borderAnimation;
    animation-duration: 0.75s;
    animation-timing-function: var(--ease-in-out-quart);
    animation-iteration-count: infinite;
  }
}

@media (any-hover: hover) {
  .moving-underline:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}

@keyframes borderAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
