.avatar {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
blockquote {
  border-left: 4px solid #cccccc;
  font-style: italic;
  padding: 0rem 1rem;
  footer {
    padding: 1rem;
    text-align: right;
  }
}
