/* respect: https://yegor256.github.io/tacit/ */
:root {
  color-scheme: light dark;

  --light-color: #1a1919;
  --light-gray: #bbbbcb;
  --light-link: #1218ee;
  --light-visited: #551a8b;
  --dark-color: #fbfdfb;
  --dark-gray: #666696;
  --dark-link: #4376ef;
  --dark-visited: #8e40d6;
}

body {
  color: light-dark(var(--light-color), var(--dark-color));
  background-color: light-dark(var(--dark-color), var(--light-color));
  transition: background-color 0.5s ease, color 0.5s ease;
  padding: 1rem;
  font:
    normal 400 normal 1.125rem / 1.85625rem system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
main {
  max-width: 580px;
  border: 1px solid light-dark(var(--light-gray), var(--dark-gray));
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}
h2 {
  font-size: 1.575rem;
  font-weight: 400;
}
h1,
h2 {
  margin-top: 1rem;
  line-height: 2.5rem;
  margin-bottom: 1.125rem;
}
p + p {
  margin-top: 0;
}
figure {
  margin: 0;
}
dl {
  padding: 0 1rem;
  dt {
    font-weight: 600;
  }
  dd {
    margin: 0;
  }
  dd + dt {
    padding-top: 0.5rem;
  }
}
a {
  word-break: break-all;
  color: light-dark(var(--light-link), var(--dark-link));
  &:visited {
    color: light-dark(var(--light-visited), var(--dark-visited));
  }

  &:hover {
    animation: mymove 3s infinite;
    text-decoration-thickness: 2px;
  }

  /* https://www.rectus.co.jp/archives/329 */
  &[href^="http"]:after {
    display: inline-block;
    margin-left: 2px;
    content: url("./outbound.svg");
    width: 1em;
  }
  &[href^="https://kawarimidoll.github.io"]:after {
    margin: inherit;
    margin-left: inherit;
    content: "";
    width: inherit;
  }
}

/* underline animation */
/* https://www.w3schools.com/cssref/tryit.php?filename=trycss_anim_text-decoration-color */
@keyframes mymove {
  50% {
    text-decoration-color: #ffaff3;
  }
}

footer {
  font-size: 0.8rem;
  padding-bottom: 1rem;
  text-align: center;
  color: light-dark(var(--light-gray), var(--dark-gray));
}
blockquote {
  border-left: 4px solid light-dark(var(--light-gray), var(--dark-gray));
  font-style: italic;
  padding: 0 1rem;
  margin: 0;
  footer {
    padding: 0;
    margin: 0;
    border: none;
    text-align: right;
  }
}

.text-center {
  text-align: center;
}

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: relative;
    z-index: 1;
    margin: 5px;

    width: 260px;
    height: 260px;
    border-radius: 50%;
  }

  /* https://scrapbox.io/teamlab-frontend/CSS+SVG%E3%81%A7%E5%86%86%E4%B8%8A%E3%81%AB%E6%96%87%E5%AD%97%E3%82%92%E9%85%8D%E7%BD%AE%E3%81%99%E3%82%8B */
  div.circle-text {
    position: absolute;
    width: 290px;
    height: 290px;
    animation: rotateAppear 2s forwards;
    svg {
      overflow: visible;
    }
    path {
      fill: none;
    }
    text {
      font-size: 0.3rem;
      fill: light-dark(var(--light-gray), var(--dark-gray));
    }
  }
}
@keyframes rotateAppear {
  from {
    transform: rotate(130deg);
    opacity: 0;
  }
  to {
    transform: rotate(110deg);
    opacity: 1;
  }
}

/* https://photoshopvip.net/156601 */
.avatar::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 64%, 1) 0%,
    hsla(339, 100%, 55%, 1) 100%
  );
  height: 270px;
  width: 274px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 8s linear infinite;
  z-index: 0;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-list {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      font-size: 2rem;
    }
    span {
      font-size: 0.8rem;
    }
  }
}

/* twemoji */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
