/* respect: https://yegor256.github.io/tacit/ */
:root {
  color-scheme: light dark;

  --light-color: #1a1919;
  --light-gray: #bbbbcb;
  --dark-color: #fbfdfb;
  --dark-gray: #666696;
}

body {
  color: light-dark(var(--light-color), var(--dark-color));
  background-color: light-dark(var(--dark-color), var(--light-color));
  padding: 1rem;
  font:
    normal 400 normal 1.125rem / 1.85625rem system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
article {
  max-width: 580px;
  border: 1px solid light-dark(var(--light-gray), var(--dark-gray));
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}
h2 {
  font-size: 1.575rem;
  font-weight: 400;
}
h1,
h2 {
  margin-top: 1rem;
  line-height: 2.5rem;
  margin-bottom: 1.125rem;
}
figure {
  margin: 0;
}
dl {
  padding: 0 1rem;
  dt {
    font-weight: 600;
  }
  dd {
    margin: 0;
  }
  dd + dt {
    padding-top: 0.5rem;
  }
}

footer {
  padding: 1rem;
  padding-bottom: 0;
  border-top: 1px solid light-dark(var(--light-gray), var(--dark-gray));
  text-align: center;
  color: light-dark(var(--light-gray), var(--dark-gray));
}
blockquote {
  border-left: 4px solid light-dark(var(--light-gray), var(--dark-gray));
  font-style: italic;
  padding: 0 1rem;
  margin: 0;
  footer {
    font-size: 0.8rem;
    margin: 0;
    border: none;
    text-align: right;
  }
}
.text-center {
  text-align: center;
}

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: relative;
    z-index: 1;
    margin: 5px;

    width: 260px;
    height: 260px;
    border-radius: 50%;
  }
}

/* https://photoshopvip.net/156601 */
.avatar::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 64%, 1) 0%,
    hsla(339, 100%, 55%, 1) 100%
  );
  height: 270px;
  width: 270px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 8s linear infinite;
  z-index: 0;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
